.top-commenter-sub-wrapper {
  float: left;
  width: 100%;
}
.commenter-img {
  float: left;
  margin-right: 3%;
}
.tc-name-comment {
  float: left;
  font-size: 33px;
  text-transform: capitalize;
}
.tc-name-comment span {
  width: 100%;
  float: left;
  padding-bottom: 0.5em;
}
.tc-commenter-img {
  transition: All 1s ease;
  -webkit-transition: All 1s ease;
  -moz-transition: All 1s ease;
  -o-transition: All 1s ease;
  transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1) skew(1deg) translate(0px);
}
.tc-commenter-img:hover {
  transform: rotate(0deg) scale(1.5) skew(1deg) translate(0px);
  -webkit-transform: rotate(0deg) scale(1.5) skew(1deg) translate(0px);
  -moz-transform: rotate(0deg) scale(1.5) skew(1deg) translate(0px);
  -o-transform: rotate(0deg) scale(1.5) skew(1deg) translate(0px);
  -ms-transform: rotate(0deg) scale(1.5) skew(1deg) translate(0px);
  z-index: 999;
}
